# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.swp

# Swift Package Manager
.swiftpm/
Packages/
Package.pins
Package.resolved
.build/

# CocoaPods (non utilisé)
Pods/

# Carthage (non utilisé)
Carthage/Build/
Carthage/Checkouts/

# fastlane
fastlane/report.xml
fastlane/screenshots/
fastlane/test_output/

# Archives / dossiers de résultats produits par l'application
*.xcarchive
*results/
*.dmg
